body {
  background: #f7f1f0;
  color: #F7F1F0;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #A15C38;
}

ul {
  margin: #F7F1F0;
}

.bg-steel {
  background-color: #262220;
}

.site-header .navbar-nav .nav-link {
  color: #A15C38;
  font-family: Arial, Helvetica, sans-serif;
}

.site-header .navbar-nav .nav-link:hover {
  color: C3A6A0;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #262220;
  padding: 10px 20px;
  border: 1px solid;
  margin-bottom: 20px;
}

.article-title {
  color: #A15C38;
}

a.article-title:hover {
  color: #C3A6A0;
  text-decoration: none;
}

.article-content {
  color: #C3A6A0;
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #C3A6A0;
}

.article-metadata a:hover {
  color: #C3A6A0;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}